//* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  height: 100vh;
  max-width: calc(100vw - 0.625rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Marriweather', 'serif';
  font-size: 1.125rem;
  background: url("Assets/Absztrakt.jpg") no-repeat center center fixed;
  background-size: cover;
  }

/*===  LAYOUTS STYLES  ===*/

.profile-card {
  width: 25.625rem;
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 1.875rem;
  border: 0.0625rem solid;
  position: relative;
  }

.profile-image {
  margin-top: 1.25rem;
}

.head, links, div {
  text-align: center;
}
  
.head, .content {
  width: 80%;
  margin: 0 auto;
}

.name-headline {
  padding: 0.625rem;
}

  
img {
  width: 8.75rem;
  height: 6.875rem;
  border-radius: 50%;
  padding: 0.1875rem;
  background-color: black;
  float: right;
}


img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  filter: grayscale(5%)
}

span {
  font-size: 0.9375rem;
}

h1 {
  font-size: 1.1875rem;
}

@media (min-width: 768px){
  body {
    color: brown;
}
}

@media (min-width: 1024px){
  body {
    color: darkgreen;
}
}


/*Component Styles*/

button {
  background-color: orange;
  color: black;
  padding: 0.625rem;
  border-radius: 2.5rem;
  top: 240px;
  left: 270px;
  position: absolute;
  border: 1px solid black;
}

button:hover {
  background-color: lightgreen;
  border-radius: 2.5rem;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

p {
  text-align: center;
}
ul {
  list-style-type: none; 
}

li {
  display: inline;
}


.fa {
  font-size: 2.375rem;
  color: orange;
  padding: 1.1875rem;
}
  
.fa:hover {
  color: lightgreen;
}

.about {
  text-align: center;
}

#nav {
  position: absolute;
  left: 0.625rem;
  top:0.625rem;
  color: black;
}

a {
  color: green;
}

a:hover {
  color: lightgreen;
}
