#container {
  width: 100vw;
  margin: 0px auto;
  text-align: center;
}

header {
  margin-bottom: 50px; 
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: black; 
}

#image0 {
  width: 310px; 
  height: 375px;
  
}
#images {
  width: 310px; 
  height: 375px;
  margin: 25px auto;
  overflow: hidden; 
  position: relative;
}

#images img {
  width: 700px;
  height: 375px;
  position: absolute; 
  left: -500px; 
  top: 0;
  z-index: 1; 
  opacity: 0; 
  transition: all linear 600ms; 
  -o-transition: all linear 600ms;
  -moz-transition: all linear 600ms;
  -webkit-transition: all linear 600ms;
}

#images img:target {
left: 0; /
z-index: 8;
opacity: 1;
}

a {
  font-size: 30px;
  color: black;
}
#images img:first-child {
  left: 0; 
  opacity: 1;
}

#button a {
  text-decoration: none; 
  border: 1px solid #aaaeb6;
  padding: 5px 7px;
  background: #dde2ea;
  border-radius: 50px;
}

#button a:hover { 
  background: lightgreen;
}




