#container {
  width: 100vw;
  margin: 50px auto;
  text-align: center;
}

header {
  margin-bottom: 50px; 
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: black; 
}

#image0 {
  width: 310px; 
  height: 375px;
  
}
#images {
  width: 310px; 
  height: 375px;
  margin: 25px auto;
  overflow: hidden; 
  position: relative;
}

#images img {
  width: 700px;
  height: 375px;
  position: absolute; /*újabb pozícionálás az átfedés miatt*/
  left: -500px; /*balról hozza az új képet, ezért -*/
  top: 0;
  z-index: 1; /*áttűnés efektért felel*/
  opacity: 0; /*átlátszóság*/
  transition: all linear 600ms; /* maga a slide effekt, a csúszás*/
  -o-transition: all linear 600ms;
  -moz-transition: all linear 600ms;
  -webkit-transition: all linear 600ms;
}

#images img:target {
left: 0; /*kép igazítása, átlátszóság megszüntetése*/
z-index: 8;
opacity: 1;
}

a {
  font-size: 25px;
  color: black;
}

a:hover {
  color: blue;
}