/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}


/* Pozíconálás */

.profile-card {
  width: 410px;
  max-width: calc(100vw - 20px);
  margin-top: 20px;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head, links, div {
  text-align: center;
}


.head, .content {
  width: 90%;
  margin: 0 auto;
}

.name-headline {
  padding: 10px;
}
img {
  width: 140px;
  height: 110px;
  border-radius: 50%;
}


.profile-image {
  margin-top: 10%;
}

.head, .about {
  margin-bottom: 10px;
  padding: 20px;
}

body {
  background: url('Assets/Absztrakt.jpg')no-repeat center center fixed;
  background-size: cover;
  font-family: 'Times New Roman', sans-serif;
  font-size: 17px;
}

.profile-card {
  background-color: #C8FFC8;
  border-radius: 40px;
  border: 1px solid;
}    

img {
  padding: 3px;
  background-color: black;
}

img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  filter: grayscale(3%);
}

span {
  font-size: 15px;
}

h1 {
  font-size: 19px;
  text-transform: uppercase;
}

button {
  background-color: lightgreen;
  color: black;
  padding: 5px;
}

button:hover {
  background-color: green;
  border-radius: 50px;
}

p {
  text-align: center;
  padding: 10px;
}
ul {
  list-style-type: none; 
}

li {
  display: inline;
}


.links {
  padding: 20px;
  }

.social-icon {
  color: green;
  font-size: 30px;
  padding: 10px;
}
  

.social-icon:hover {
  color: lightgreen;
}

.about {
  text-align: center;
}

img {
   float: left;
}

.container {
  position: relative;
}

.box {
  position: absolute;
  border-collapse: black, 1px solid;
  border-radius: 50px;
  top: 200px;
  left: 250px;
}

.social-icon1 {
  position: absolute;
  left: 15px;
}

.social-icon3 {
  position: absolute;
  right: 15px;
}
  

  
  
